.container {
  text-align: center;
}

.carousel-slide {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
}

.object-fit {
  object-fit: cover;
  width: 100vw;
  height: 50vh;
}

.test > .carousel-inner {
  width: 100vw;
  height: 50vh;
}
